---
interface Props {
  type: 'button' | 'submit' | 'reset'
  href?: string
  outline: boolean
  size: 'medium' | 'small'
}

const {type, href, outline, size} = Astro.props as Props

const attributes = {
  class: `button ${outline ? 'button--outline' : ''} button--${size}`,
}
---

</script>

{
  href ? (
    <a href={href} class={attributes.class}>
      <slot />
    </a>
  ) : (
    <button type={type} class={attributes.class}>
      <slot />
    </button>
  )
}


<style>
@import '../css/components/button.css';
</style>

<style is:global>
.button-group {
  .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
</style>